/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0077cc;
  --secondary-color: #005999;
  --text-color: #333;
  --background-color: #f9f9f9;
  --font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: var(--font-stack);
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.6;
  padding: 20px;
}

header {
  background: var(--primary-color);
  color: white;
  padding: 20px;
  text-align: center;
}


nav {
  background: var(--secondary-color);
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #cceeff;
}
.menu{
    list-style-type:none;
}
main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

section h2 {
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.skills{
    display:flex;
    gap: 35px;
    margin-left: 15px;
}
article {
  background: white;
  padding: 15px;
  border-left: 4px solid var(--primary-color);
  margin-bottom: 15px;
}

aside {
  background: #eee;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 30px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #ddd;
  color: #555;
  margin-top: 40px;
}

/* Responsividade */
@media (max-width: 768px) {
  header, nav, main, footer {
    padding: 10px;
  }

  nav a {
    display: block;
    margin: 5px 0;
  }

  header img {
    width: 100px;
    height: 100px;
  }
}
